.content{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 10px;
    background-color: red;
}
.content .fab{
    font-size: 100px;
    margin-left: 150px;
    color: white;
}
.content h2{
    font-size: 60px;
    text-align: center;
    color: white;
}
.content p{
    font-size: 22px;
    text-align: center;
    color: white;
}
.content a{
    background-color: brown;
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    font-size: 22px;
    border-radius: 15px;
    margin-left: 115px;
}
.content:hover{
    background-color: black;
}
.content .fab:hover{
    color: blueviolet;
}
.content h2:hover{
    color: blueviolet;
}
.content p:hover{
    color: blueviolet;
}
.content a:hover{
    color: blueviolet;
    background-color: white;
}